<div class="signup-container">

<%= form_with(model: unidade) do |form| %>
  <% if unidade.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(unidade.errors.count, "error") %> prohibited this unidade from being saved:</h2>

      <ul>
        <% unidade.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Nova Unidade</h2>

  <div class="field">
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome, class: "input-field" %>
  </div>

  <div class="actions">
    <%= form.submit class: "submit-button" %>
  </div>
<% end %>
<br>
    <%= link_to "Veja todas as unidades", unidades_path,  class: "details-link" %>
    <%= link_to "Retornar ao Menu", root_path, class: "details-link" %>
</div>
