<p style="color: green"><%= notice %></p>
<div classe="container">

<%= render @setor %>
<p>
  <strong>Numero de funcionarios do setor: </strong>
  <%= @setor.users.count %>
</p>

<p>
  <strong>Visitas Agendadas:</strong>
  <%= @setor.visitas.where(status:"agendada").count %>
</p>
<p>
  <strong>Visitas Concluídas:</strong>
  <%= @setor.visitas.where(status:"concluidas").count %>
</p>
<p>

  <strong>Visitas Canceladas:</strong>
  <%= @setor.visitas.where(status:"cancelada").count %>
</p
<div>
  <%= link_to "Back to setors", setors_path,class:"details-link" %>
  <%= link_to "Retornar ao menu ações " , root_path,class:"details-link" %>

</div>
</div>
