<div id="<%= dom_id visitum %>">
  <p>
    <strong>Status:</strong>
    <%= visitum.status %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= visitum.data %>
  </p>

  <p>
    <strong>Visitante:</strong>
    <%= visitum.visitante_id %>
  </p>

  <p>
    <strong>Setor:</strong>
    <%= visitum.setor_id %>
  </p>

  <p>
    <strong>Funcionario:</strong>
    <%= visitum.funcionario_id %>
  </p>

</div>
