<%= form_with(model: visita) do |form| %>
  <% if visita.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(visita.errors.count, "error") %> prohibited this visita from being saved:</h2>

      <ul>
        <% visita.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= current_user.unidade&.nome %><br>


  <div>
    <%= form.label :visitante_id, style: "display: block" %>
    <%= form.text_field :visitante_id %>
  </div>
  <br>

  <%= form.label  "Setor", style: "display: block" %>
  <%= form.select  :setor_id, @setores.map { |s| [ s.nome, s.id ] }, { prompt: "Selecione o setor da visita    " },{ id: "unidade_id" } %>
  <%  if @funcionarios.nil? || @funcionarios.empty? %>
        <p>Esta unidade nao possui funcionários cadastrados</p>
  <% else %>
        <br><br>
        <%= form.label  "Funcionario (opcional)", style: "display: block" %>
        <%= form.select  :user_id,  @funcionarios.map { |s| [ s.nome, s.id ] }, { prompt: "Funcionarios" },{ id: "unidade_id" } %>
    <% end %>
    <%= form.label :data, style: "display: block" %>
    <%= form.date_field :data %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
