<%= form_with(model: visita) do |form| %>
  <% if visita.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(visita.errors.count, "error") %> prohibited this visita from being saved:</h2>
      <ul>
        <% visita.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= current_user.unidade&.nome %><br>

  <div>
    <%= form.label :visitante_id, style: "display: block" %>
    <%= form.text_field :visitante_id %>
  </div>
  <br>

  <% if @setores.nil? %>
    <p>Não há setores nesta unidade</p>
  <% else %>
    <%= form.label :setor_id, "Setor", style: "display: block" %>
    <%= form.select :setor_id, @setores.where(["unidade_id = ?", current_user.unidade&.id]).collect { |s| [s.nome, s.id] }, { prompt: "Selecione o setor da visita" }, { id: "setor_id" } %>
  <% end %>
  <br><br>

  <% if @funcionarios.nil? %>
    <p>Não há setores nesta unidade</p>
  <% else %>
    <%= form.label "Funcionario (opcional)", style: "display: block" %>
    <%= form.select :user_id, @funcionarios.where(unidade_id: current_user.unidade&.id, role: "funcionario").collect { |f| [f.nome, f.id] }, { prompt: "Selecione o funcionário" }, { id: "user_id" } %>
  <% end %>

  <%= form.label :data, style: "display: block" %>
  <%= form.date_field :data %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
