<div id="<%= dom_id visita %>">
  <p>
    <strong>Visitante:</strong>
    <%= visita.visitante_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= visita.user_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= visita.status %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= visita.data %>
  </p>

</div>
