<p style="color: green"><%= notice %></p>

<% content_for :title, "Visitas" %>

<div classe="container">

<div id="visitas">
  <% @visitas.each do |visita| %>
    <%= render visita %>
    <p>
      <%= link_to "Mostrar detalhes da visita ", visita, class:"details-link" %>
    </p>
  <% end %>
<%= link_to "New visita", new_visita_path, class:"details-link" %>
<%= link_to "Retornar ao Menu ", root_path ,  class:"details-link"%>

</div>
</div>
