<p style="color: green"><%= notice %></p>
<h1>Visita</h1>

<%= render @visita %>

<p>
  <strong>Unidade:</strong>
  <%= @visita.unidade&.nome %>
</p>
<p>
  <strong>Setor:</strong>
  <%= @visita.setor&.nome %>
</p>
  <p>
    <strong>Status:</strong>
    <%= @visita.status %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= @visita.data %>
  </p>
<div>
  <%= link_to "Edit this visita", edit_visita_path(@visita) %> |
  <% if current_user.funcionario? %>
      <%= link_to "Volte ao menu", root_path %>
  <% else %>
    <%= link_to "Back to visitas", visitas_path %>
  <% end %>

</div>
