<p style="color: green"><%= notice %></p>
<div classe="container">
<h1>Visita</h1>


<p>
  <strong>Unidade:</strong>
  <%= @visita.unidade&.nome %>
</p>
<p>
  <strong>Setor:</strong>
  <%= @visita.setor&.nome %>
</p>
<%= render @visita %>
  <p>
    <strong>Data:</strong>
    <%= @visita.data %>
  </p>
<div>
  <% if current_user.funcionario? %>
  <%= link_to "Visita realizada? Clique Aqui", edit_visita_path(@visita) , class:"details-link"%>
      <%= link_to "Volte ao menu", root_path, class:"details-link" %>
  <% else %>
<%= link_to "Retornar ao menu das visitas", visitas_path,class:"details-link" %>
  <% end %>


</div>
<div>
