<div class="signup-container">

<%= form_with(model: visitante) do |form| %>
  <% if visitante.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(visitante.errors.count, "error") %> prohibited this visitante from being saved:</h2>

      <ul>
        <% visitante.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Novo visitante</h2>

  <div  class="field">
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome , class: "input-field"%>
  </div>

  <div  class="field">
    <%= form.label :CPF, style: "display: block" %>
    <%= form.text_field :cpf , class: "input-field" %>
  </div>

  <div  class="field">
    <%= form.label :RG, style: "display: block" %>
    <%= form.text_field :rg, class: "input-field" %>
  </div>

  <div  class="field">
    <%= form.label :telefone, style: "display: block" %>
    <%= form.text_field :telefone, class: "input-field" %>
  </div>

  <div class="field">
    <%= form.label :foto, style: "display: block" %>
    <%= form.text_field :foto, class: "input-field" %>
  </div>

  <div   class= "actions">
    <%= form.submit   class: "submit-button" %>
  </div>
<% end %>
<br>
<% if current_user.admin? %>
<%= link_to "Back to visitantes", visitantes_path, class:"details-link" %>
<% end %>
<%= link_to "Retornar ao Menu ", root_path, class:"details-link" %>
</div>
