<div id="<%= dom_id visitante %>">
  <p>
    <strong>Nome:</strong>
    <%= visitante.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= visitante.CPF %>
  </p>

  <p>
    <strong>Rg:</strong>
    <%= visitante.RG %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= visitante.telefone %>
  </p>

  <p>
    <strong>Foto:</strong>
    <%= visitante.foto %>
  </p>

</div>
