<p style="color: green"><%= notice %></p>

<% content_for :title, "Visitantes" %>

<h1>Visitantes</h1>

<div id="visitantes">
  <% @visitantes.each do |visitante| %>
    <%= render visitante %>
    <p>
      <%= link_to "Mostre todos os visitantes", visitante %>
    </p>
  <% end %>
</div>

<%= link_to "New visitante", new_visitante_path %>
<br>

<%= link_to "Retornar ao Menu ", root_path %>
