<p style="color: green"><%= notice %></p>

<% content_for :title, "Visitantes" %>


<div classe="container">

<div id="visitantes">
  <% @visitantes.each do |visitante| %>
    <%= render visitante %>
    <p>
      <%= link_to "Mostrar detalhes do visitante", visitante, class:"details-link" %>
    </p>
  <% end %>
</div>
<br>
<%= link_to "Novo visitante", new_visitante_path,  class:"details-link" %>

<%= link_to "Retornar ao Menu ", root_path ,  class:"details-link"%>
</div>
